.git
.tmp
**/node_modules
**/lib
dotnet/**/bin
dotnet/**/obj
plugins/dotnet/**/bin
plugins/dotnet/**/obj
**/__pycache__
**/.venv
**/venv
**/*.egg-info
**/dist
**/target
**/BsbClients
**/bsbclients
plugins/python/examples/src/bsb_examples/clients
plugins/python/examples/src/bsb_examples/contracts
**/.pytest*
**/.tmp*
**/.bsb
repomix-output.xml
nul
