/lib
.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
node_modules
/_exports
/junit.xml
/test-file-*
/.vuepress
/.nyc_output
/coverage
/junit.json
/sec.config.json
/sec.config.yaml
/nodejs/junit.json
/nodejs/sec.config.json
/nodejs/sec.config.yaml
/nodejs/node_modules
/nodejs/.nyc_output
/nodejs/lib
/nodejs/coverage
/dotnet/[Dd]ebug/
/dotnet/[Dd]ebugPublic/
/dotnet/[Rr]elease/
/dotnet/[Rr]eleases/
/dotnet/x64/
/dotnet/x86/
/dotnet/bld/
/dotnet/[Bb]in/
/dotnet/[Oo]bj/
/dotnet/[Ll]og/
/dotnet/project.lock.json
/dotnet/project.fragment.lock.json
/dotnet/artifacts/
/dotnet/**/Properties/launchSettings.json
/rust/target
