<form method="GET" action="/plugins" class="browse-filters">
  <div class="search-row">
    <input
      type="search"
      name="query"
      class="search-input"
      placeholder="Search plugins..."
      value="{{searchQuery}}"
    >
    <button type="submit" class="search-btn">Search</button>
  </div>

  <div class="filter-row">
    <select name="category" class="sort-select" onchange="this.form.submit()">
      <option value="">All Categories</option>
      <option value="service" {{#if (eq filters.category 'service')}}selected{{/if}}>Service</option>
      <option value="observable" {{#if (eq filters.category 'observable')}}selected{{/if}}>Observable</option>
      <option value="events" {{#if (eq filters.category 'events')}}selected{{/if}}>Events</option>
      <option value="config" {{#if (eq filters.category 'config')}}selected{{/if}}>Config</option>
      <option value="other" {{#if (eq filters.category 'other')}}selected{{/if}}>Other</option>
    </select>

    <select name="language" class="sort-select" onchange="this.form.submit()">
      <option value="">All Languages</option>
      <option value="nodejs" {{#if (eq filters.language 'nodejs')}}selected{{/if}}>Node.js</option>
      <option value="csharp" {{#if (eq filters.language 'csharp')}}selected{{/if}}>C#</option>
      <option value="go" {{#if (eq filters.language 'go')}}selected{{/if}}>Go</option>
      <option value="java" {{#if (eq filters.language 'java')}}selected{{/if}}>Java</option>
      <option value="python" {{#if (eq filters.language 'python')}}selected{{/if}}>Python</option>
    </select>
  </div>
</form>
